{% extends "_base.html" %}

{% block title %}
    Ascii Text Art Banner Generator
{% endblock %}

{% block content %}
    {% include "_header.html" %}
    <section>
        <div class="container px-4 mx-auto mb-6 mt-16">
            <h1 class="text-4xl">Ascii Text Art Banner Generator</h1>
        </div>
        <form class="container px-4 mx-auto" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-4">
                <label for="textarea" class="text-sm font-semibold text-gray-500">Text</label>
                <textarea
                        id="textarea"
                        name="text"
                        class="w-full p-4 text-xs font-semibold leading-none bg-blueGray-100 rounded outline-none"
                        placeholder="Some awesome text"></textarea>
                {% include "_form_errors.html" with field=form.text %}
                {% include "_form_help.html" with field=form.text %}
            </div>
            <div>
                <button
                        class="block w-full py-4 px-8 text-sm text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded"
                        type="submit">
                    Create Banner
                </button>
            </div>
        </form>
    </section>
    {% include "_footer.html" %}
{% endblock %}
