{% extends "_base.html" %}

{% block title %}
    Create ASCII banners for websites and 👩‍💻 terminals | ASCII Generator
{% endblock %}

{% block description %}
    Online free tool to create ASCII banners to copy paste and save as images, to use for websites and terminals.
{% endblock %}

{% block content %}
    {% include "_header.html" %}
    <section class="content">
        <h1 class="text-center title">Ascii Banner Generator<br></h1>

        <div class="description mb-3">
            <p>This tool is intended to generate ASCII text pictures from bitmap images. To create a picture, do the
                following:</p>
            <ol>
                <li>Type in the text you want to be converted to a banner.</li>
                <li>Set the width of the banner.</li>
                <li>Click "Create Banner."</li>
            </ol>
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="textarea" class="form-label">Text</label>
                <textarea
                        id="textarea"
                        name="text"
                        class="form-control"
                        placeholder="Some awesome text"></textarea>
                {% include "_form_errors.html" with field=form.text %}
                {% include "_form_help.html" with field=form.text %}
            </div>
            <div class="mb-3">
                <label class="form-label">Width</label>
                <input
                        name="width"
                        class="form-control"
                        step="any"
                        type="number"
                        value="200"
                        placeholder="200">
                {% include "_form_errors.html" with field=form.width %}
                {% include "_form_help.html" with field=form.width %}
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="color" class="form-label">Color</label>
                    <input id="color" name="color" class="form-control color-picker" type="color" value="{{ form.color.value }}">
                    {% include "_form_errors.html" with field=form.width %}
                    {% include "_form_help.html" with field=form.width %}
                </div>
                <div class="col">
                    <label for="background" class="form-label">Background</label>
                    <input id="background" name="background" class="form-control color-picker" type="color" value="{{ form.background.value }}">
                    {% include "_form_errors.html" with field=form.width %}
                    {% include "_form_help.html" with field=form.width %}
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Create Banner</button>
            </div>
        </form>
    </section>
    {% include "_footer.html" %}
{% endblock %}

{% block scripts %}
    const pickr = Pickr.create({
    el: '.color-picker',
    theme: 'nano',
    components: {
    preview: true,
    opacity: true,
    hue: true,
    interaction: {
    hex: true,
    rgba: false,
    hsla: false,
    hsva: false,
    cmyk: false,
    input: true,
    clear: true,
    save: true
    }
    }
    });
{% endblock %}
