{% extends "_base.html" %}

{% block title %}
    ASCII Generator  | Create Ascii Art Online For Copy Paste ☜(ﾟヮﾟ☜)
{% endblock %}

{% block description %}
    Free online tools to create ASCII art for banners and images to then copy-paste or save as images.
{% endblock %}

{% block content %}
    {% include "_header.html" %}
    <section class="content">
        <h1 class="title">Tools for creating ASCII art images and banners</h1>
        <p>This website contains a bunch of tools for generating ASCII text. This site will keep getting new updates
            with new tools. Each tool has an explanation on how to use it on the top of the page.</p>

    <h2>Ascii Tools</h2>
    <ul>
        <li><a href="{% url "image_to_ascii" %}">Image to ASCII Converter</a></li>
        <li><a href="{% url "text_to_banner" %}">Banner Generator</a></li>
    </ul>

    </section>
    {% include "_footer.html" %}
{% endblock %}
