{% extends "_base.html" %}

{% block title %}
    ASCII Generator  | Create Ascii Art Online For Copy Paste ☜(ﾟヮﾟ☜)
{% endblock %}

{% block description %}
    Free online tools to create ASCII art for banners and images to then copy-paste or save as images.
{% endblock %}

{% block content %}
    {% include "_header.html" %}
    <section class="content">
        <h1 class="text-center title">Tools for creating ASCII art images and banners<br></h1>

    </section>
    {% include "_footer.html" %}
{% endblock %}
