{% extends "_base.html" %}

{% block description %}
    Online free ASCII Art Generator for creating copy paste images using ASCII art. Pick an image to convert into ASCII art to copy-paste or save it as an image.
{% endblock %}

{% block title %}
    Convert Image To ASCII Art 🎨 | ASCII Generator
{% endblock %}

{% block content %}
    {% include "_header.html" %}
    <section class="content">
        <h1 class="text-center title">Image to ASCII Converter<br></h1>

        <div class="description mb-3">
            <p>This tool is intended to generate ASCII text pictures from bitmap images. To create a picture, do the following:</p>
            <ol>
                <li>Click on Choose Image and select your desired image</li>
                <li>Pick the resolution for the image by setting the width.</li>
                <li>Select the characters to use for the image. Select the most contrast symbols from left to the right.</li>
                <li>Click "Generate ASCII Image"</li>
            </ol>
        </div>

        <form x-data="imageConverter()" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <div class="file-upload"><label class="form-label" for="image-picker">Choose Image</label>
                            <p x-text="imageName">No file selected</p>
                            <input name="image" @change="fileChosen" accept="image/*" class="form-control" type="file"
                                   id="image-picker" hidden="">
                        </div>
                        {% include "_form_errors.html" with field=form.image %}
                        {% include "_form_help.html" with field=form.image %}
                    </div>
                </div>
            </div>
            <template x-if="imageUrl">
                <div class="row">
                    <div class="col">
                        <div class="mb-4">
                            <img :src="imageUrl" style="width: 100%"/>
                        </div>
                    </div>
                </div>
            </template>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="width" class="form-label">Ascii Image Width</label>
                        <input id="width" class="form-control"
                               type="text"
                               name="width"
                               type="number"
                               step="any"
                               placeholder="200"
                               value="{{ form.width.value }}">
                        {% include "_form_errors.html" with field=form.width %}
                        {% include "_form_help.html" with field=form.width %}
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="symbols" class="form-label">Symbols (Highest contrast from the left)</label>
                        <input id="symbols" class="form-control" type="text" name="symbols" placeholder="" value="{{ form.symbols.value }}">
                        {% include "_form_errors.html" with field=form.symbols %}
                        {% include "_form_help.html" with field=form.symbols %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="character-width" class="form-label">Character Width</label>
                        <input id="character-width" class="form-control"
                               name="character_width"
                               type="number"
                               step="any"
                               value="{{ form.character_width.value }}"
                               placeholder="100">
                        {% include "_form_errors.html" with field=form.character_width %}
                        {% include "_form_help.html" with field=form.character_width %}
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="character-height" class="form-label">Character Height</label>
                        <input id="character-height" class="form-control"
                               name="line_height"
                               type="number"
                               value="{{ form.line_height.value }}"
                               placeholder="100">
                        {% include "_form_errors.html" with field=form.line_height %}
                        {% include "_form_help.html" with field=form.line_height %}
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="color" class="form-label">Color</label>
                    <input id="color" name="color" class="form-control color-picker" type="color" value="{{ form.color.value }}">
                    {% include "_form_errors.html" with field=form.width %}
                    {% include "_form_help.html" with field=form.width %}
                </div>
                <div class="col">
                    <label for="background" class="form-label">Background</label>
                    <input id="background" name="background" class="form-control color-picker" type="color" value="{{ form.background.value }}">
                    {% include "_form_errors.html" with field=form.width %}
                    {% include "_form_help.html" with field=form.width %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Generate Ascii Image</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    {% include "_footer.html" %}
{% endblock %}
