{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="google-site-verification" content="V0yv1uVTzhQy5H1QC3gBYOk50Pm-sOnTKR7cpFpGm0I" />

    <title>{% block title %}Ascii Art Tools{% endblock %}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧾</text></svg>">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/tailwind.min.css" %}">

    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
            data-cf-beacon='{"token": "142fafc1e04a46199acc1ae37b3ca61c"}'></script>

    <script src="https://kit.fontawesome.com/24da465ef7.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="{% static "javascript/main.js" %}"></script>


    {% block imports %}

    {% endblock %}
</head>
<body class="antialiased bg-body text-body font-body">
<div>
    {% block content %}

    {% endblock %}
</div>
</body>

{% block scripts %}

{% endblock %}

</html>