{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <title>{% block title %}Ascii Art Tools{% endblock %}</title>


    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/tailwind.min.css" %}">


    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="{% static "javascript/main.js" %}"></script>


    {% block imports %}

    {% endblock %}
</head>
<body class="antialiased bg-body text-body font-body">
<div>
    {% block content %}

    {% endblock %}
</div>
</body>

{% block scripts %}

{% endblock %}

</html>