<section>
    <div class="container px-4 mx-auto">
        <nav class="flex items-start flex-col py-6 md:flex-row  md:flex-no-wrap md:justify-between">
            <a class="text-3xl font-semibold leading-none" href="#">Ascii Text Art</a>
            <ul class="flex items-center space-x-12 mr-0">
                <li><a class="text-base font-semibold text-blueGray-400 hover:text-blueGray-500" href="{% url "image_to_ascii" %}">Image converter</a></li>
                <li><a class="text-base font-semibold text-blueGray-400 hover:text-blueGray-500" href="">Banner Generator</a></li>
            </ul>
        </nav>
    </div>
</section>
