<nav class="navbar navbar-light navbar-expand-md navigation">
    <div class="container">
        <a class="navbar-brand logo" href="#">AsciiGenerator.net</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="{% url "image_to_ascii" %}">Image To Text</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "text_to_banner" %}">Banner Generator</a></li>
            </ul>
        </div>
    </div>
</nav>